.table {
    border-bottom: 0 !important;
}

.table th, .table td {
    border: 0 !important;
}

.card-title {
    color: dimgray;
}

input[type=submit] {
    font-size: 25px;
    border: 0;
    background: white;
    font-weight: bold;
    color: cadetblue;
}
