<form action="{% block body_action %}{% endblock %}" method="post">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">{% block modal_title %}{% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
    </div>

    <div class="modal-body">
        {% block modal_body %}{% endblock %}
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
